:host {
    --slds-c-card-color-background: #333333;
    --slds-c-textarea-color-background: #444444;
    --slds-c-textarea-text-color: #fff;
    --slds-c-textarea-color-background-focus: #4a4a4a;
    --slds-c-textarea-text-color-focus: #fff;
    --slds-c-textarea-color-border: #333333;
    --slds-c-card-color-border: #333333;
    --slds-c-textarea-sizing-min-height: 75vh;
    --slds-c-card-text-color: #fff;
    --slds-g-color-neutral-base-80: #444444;
    --slds-g-color-border-base-1: #333333;
    --slds-c-button-spacing-block-start: 8px;
    --slds-c-button-spacing-block-end: 14px;
    --slds-c-button-neutral-color-background: transparent;
    --slds-c-button-neutral-color-border: transparent;
    --slds-c-button-color-border: transparent;
    --slds-c-button-color-background-hover: transparent;
    --slds-c-button-color-border-hover: transparent;
    --slds-c-button-neutral-color-background-hover: transparent;
    --slds-c-button-neutral-color-border-hover: transparent;
    --slds-c-button-text-color: #fff;
    --slds-c-button-text-color-hover: #fff;
    --slds-c-button-color-background-active: transparent;
    --slds-c-button-color-border-active: transparent;
    --slds-c-button-neutral-color-border-active: transparent;
    --slds-c-button-neutral-color-background-active: transparent;
    --slds-c-button-shadow-focus: transparent;
}

.container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    height: 80vh;
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    gap: 20px;
    margin-top: -30px;
}

.large-area {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    transition: background 0.25s, color 0.25s;
}

.large-area:focus {
    color: #fff;
}

.controls__button {
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #009578;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto";
}

.controls__button:active {
    background: #00705a;
}